@import '../scss-utils/mixin';
$clr-white: #FFF;
$clr-black: #000;

$clr-primary-white: #FDFDFD;
$clr-primary-black: #18121E;
$clr-primary-yellow: #F2BE22;
$clr-primary-gray: #1A3E3E;

$clr-bg: #FFFFFF33;
$clr-bg-2: #F3F5F4;
$clr-bg-3: #FDFDFD66;
$clr-bg-4: #FFFFFF4D;
$clr-bg-5: #F3F5F4;
$clr-border: #E1E3E4;

$clr-shadow: #18121E1F;

$font-size-xll: 5rem;
$font-size-xl: 3.2rem;
$font-size-x: 2.4rem;
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-ss: 1.2rem;

$margin-xxsmall: 1rem;
$margin-xsmall: 2rem;
$margin-small: 3rem;
$margin-regular: 4rem;
$margin-medium: 5rem;
$margin-xmedium: 6rem;
$margin-xxmedium: 7rem;
$margin-large: 10rem;

$padding-xxsmall: 1rem;
$padding-xsmall: 2rem;
$padding-small: 3rem;
$padding-regular: 4rem;
$padding-medium: 5rem;
$padding-large: 10rem;

$transition-fast: 0.3s ease-out;
$transition-medium: 0.5s ease-out;
$transition-medium: 0.8s ease-out;

$radius-small: 0.4rem;
$radius-regular: 0.6rem;
$radius-large: 3.2rem;

$shadow: 0 0 1.5rem 0 $clr-shadow;


$first-family: "Nunito Sans", sans-serif;
$second-family: "Roboto", sans-serif;

$container-width: 1160px;

@keyframes opac {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

//Container
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    @include respond-to('phone') {
        width: 35.8rem;
    }
}
@media (max-width: 375px) {
    .container {
        width: 30rem;
    }
}

//HTML,BODY
html {
    font-size: 10px;
}

body {
    font-family: $first-family;
}

//None
.none {
    display: none;
}

//yellow-title
.yellow-title {
    color: $clr-primary-yellow;
    font-size: $font-size-x;
    line-height: 2rem;
    @include respond-to('phone') {
        font-size: $font-size-m;
    }
}

//subticle
.subticle {
    color: $clr-primary-black;
    font-size: $font-size-xl;
    font-weight: 800;   
    line-height: 3.8rem;
    @include respond-to('phone') {
        font-size: $font-size-x;
        line-height: 2.8rem;
    }
}

//text
.text {
    color: $clr-primary-black;
    font-size: $font-size-l;
    line-height: 2.7rem;
    @include respond-to('phone') {
        font-size: $font-size-m;
        line-height: 2.4rem;
    }
}